* {
  margin: 0;
  padding: 0;
}
/* body {
  height: 100%;
  background-image: linear-gradient(to right, #ff69c2, #ffdc5c);
} */
nav {
   display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #fff;
}
.navbar-items {
  display: flex;
   gap: 3em;
}
.navbar-items li {
   font-family:'Times New Roman', Times, serif;
   font-size: 21px;
   letter-spacing: 2px;
   list-style-type: none;
   padding: 5px 14px;
   cursor: pointer; 
}
.nav_logos {
  display: flex;
  justify-content: space-around;
  width: 80px;
  height: 100%;
  align-items: center;
}
.nav_logos a {
  color: #252525;
  padding-right: 1.5rem;
}
.circle {
  border: 1px solid #252525;
  border-radius: 50%;
  padding: 2.5px;
}
 

.bg-image {
    width: 100%;
    max-width: 100%;
    position: relative;
}

.bg-image img {
  width: 100%;
  max-height: 110vh;
  object-fit: cover;
}

.Image-text {
  position: absolute;
  top: 25%;
  left: 5%;
  background-color: rgba(241, 110, 132, 0.7);
  color: #fff;
  overflow: hidden;
  width: 41%;
  padding: 2.5rem; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Image-text h1 {
  font-size: 2.7rem;
  margin-bottom: 0.5rem;
  letter-spacing: 2.5px;
}

.bg-image p {
  letter-spacing: 1px;
  color: #fff;
  font-size:17px;
}
.overlay{
    background-image:  linear-gradient(to right, #ff66db, #fdec51);
    height: 10vh;
    padding: 10px;
    margin: 0;
}
section {
  background-image:  linear-gradient(to right, #ff66db, #fdec51);
  height: 100vh;
  margin-top: 3rem;
  width: 100%;
}
@media screen and (max-width: 600px) {
  #section_content{
    height: 60%;
  }
  .order-page #card{
    width: 40%;
  }
  #section{
    height: 50vh;
  }
}
@media screen and (max-width: 630px) {
 .section_content_heading{
  font-size: 0.7rem;
 }
 .section_content_content{
  font-size: 0.7rem;
 }
}
.section_content div {
  max-width: 35vw;
}
.section_content p {
  font-size: 1.2em;
}
.section_content h1 {
  font-size: 4em;
  justify-self: flex-start;
  padding: 1rem;
}
.section_content_heading {
  width: 36vw;
}
main{
   background-image: linear-gradient(to right, #ff66db, #fdec51);
  height: 110vh;
  width: 100%;
  text-align: center;
 
}
main h1{
  font-size: 4em;
  color: white;
}
.order-page{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 75vh;

}
.order-page div{
  background-color: white;
  width: 22%;
  height: 80%;
  border-radius: 0 20% 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.food-image{
  width: 85%;
  height: 60%;
  border-radius: 0 20% 0 0;

}
.order-page p{
  font-size: 20px;
}

.order-page h3{
  font-size: 25px;
}

.dropdown{
  display: none;
}
@media screen and (max-width: 800px) {  

  nav{
justify-content: space-between;
  }

  .order-page{
       flex-direction: column;
       height: 130vh;
      }

     .order-page p{
      font-size: 15px;
    }
    #card{
      width: 35%;
    }
    .nav_links{
      display: none;
    }

   .dropdown{
    display: block;
   }

   .dropdown span{ 
    font-weight: bold;
   }


   .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    padding: 4px;
    cursor: pointer;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown img{
    width: 1.5rem;
  height: 1.5rem;
  }
 }
button{
 padding: 1rem 4rem;
 font-weight: bold;
 font-size: 20px;
 border-radius: 30px;
 border: none;
 background-color: #ffcab8;
 margin-top: 30px;
}


/* .dummy{
  width: 100%;
  height: 10vh;
} */

@media screen and (max-width:1200px){
   .section_content{
      height: 40%;
   }
   section{
      display: flex;
      justify-content: center;
     height: 80vh;
   }

   .section_content h1 {
      font-size: 1.5em;
      justify-self: flex-start;
      padding: 1rem;
    }

    .section_content p {
      font-size: 1em;
      justify-self: flex-start;
    }

    .order-page{
      flex-direction: column;
      height: 180vh;
     }

     .order-page div{
      width: 25vw;
      height: 30%;
      border-radius: 0 20% 0 20%;
      padding: 1rem;

    }
   
}


@media screen and (max-width: 400px) {
 

  .order-page div{
    width: 50%;
    height: 30%;
  }
  
 }

